@page
@model RVPark.Pages.Admin.Fees.UpsertModel
@{
    ViewData["Title"] = Model.FeeObject.Id == 0 ? "Create Fee" : "Update Fee";
}

<form method="post">
    <div class="container">
        <div class="row px-2 mx-2 border">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-12 px-3 mb-3 border-bottom">
                <h2 class="text-primary">@ViewData["Title"]</h2>
            </div>

            <div class="col-8 pt-3">
                <!-- Fee Type -->
                <div class="form-group row mb-3">
                    <div class="col-3">
                        <label asp-for="FeeObject.FeeTypeId" class="form-label">Fee Type</label>
                    </div>
                    <div class="col-9">
                        <select asp-for="FeeObject.FeeTypeId" class="form-select" asp-items="Model.FeeTypeList"></select>
                        <span asp-validation-for="FeeObject.FeeTypeId" class="text-danger"></span>
                    </div>
                </div>

                <!-- Label -->
                <div class="form-group row mb-3">
                    <div class="col-3">
                        <label asp-for="FeeObject.FeeLabel" class="form-label">Label</label>
                    </div>
                    <div class="col-9">
                        <input asp-for="FeeObject.FeeLabel" class="form-control" placeholder="e.g., Large Trash Fee" />
                        <span asp-validation-for="FeeObject.FeeLabel" class="text-danger"></span>
                    </div>
                </div>

                <!-- Amount -->
                <div class="form-group row mb-3">
                    <div class="col-3">
                        <label asp-for="FeeObject.FeeTotal" class="form-label">Fee Total</label>
                    </div>
                    <div class="col-9">
                        <input asp-for="FeeObject.FeeTotal" class="form-control" />
                        <span asp-validation-for="FeeObject.FeeTotal" class="text-danger"></span>
                    </div>
                </div>

                <!-- Notes -->
                <div class="form-group row mb-3">
                    <div class="col-3">
                        <label asp-for="FeeObject.Notes" class="form-label">Notes</label>
                    </div>
                    <div class="col-9">
                        <textarea asp-for="FeeObject.Notes" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="FeeObject.Notes" class="text-danger"></span>
                    </div>
                </div>

                @if (Model.FeeObject.Id != 0)
                {
                    <input type="hidden" asp-for="FeeObject.Id" />
                }

                <div class="form-group row mt-4">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-custom-blue form-control">
                                    @(Model.FeeObject.Id != 0 ? "Update" : "Create")
                                </button>
                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-custom-grey form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/4ce08efd14.js" crossorigin="anonymous"></script>
}
