html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.nav-item.dropdown .dropdown-menu {
    z-index: 1050; 
}

.navbar, .navbar-nav {
    position: relative;
    z-index: 1060; 
}

.btn-custom-blue {
    background-color: #0066cc;
    color: white;
    border: none;
}

    .btn-custom-blue:hover {
        background-color: #005bb5;
    }

.btn-custom-grey {
    background-color: #666666;
    color: white;
    border: none;
}

    .btn-custom-grey:hover {
        background-color: red;
    }

.scrollable-dropdown {
    max-height: 10.5rem;
    overflow-y: auto;
}
.radio-inline-group {
    display: inline-flex;
    gap: 1rem; 
}

.navbar-nav .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0; 
}

.hover-card:hover {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.3);
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
}
@media (min-width: 992px) {
    .navbar-nav .dropdown:hover > .dropdown-menu {
        display: block;
    }
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}
.img-container img {
    max-height: 500px; 
    object-fit: contain; 
    margin: 0 auto; 
}
:root {
    --airforce-blue: #002244;
}

.bg-airforce {
    background-color: var(--airforce-blue);
}

.info-card {
    max-width: 350px;
    min-width: 250px;
}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
}
.btn-custom-blue-header {
    background-color: #0066cc;
    color: white;
    border: none;
}
.btn-outline-custom-blue {
    color: #0066cc;
    border: 1px solid #0066cc;
    background-color: transparent;
}

.btn-outline-custom-blue:hover {
    background-color: #0066cc;
    color: white;
}
.text-custom-blue-header {
    color: #0066cc !important;
}
.table-primary th {
    color: #0066cc !important; 
}
.toast-custom-blue {
    background-color: #0066cc !important;
    color: white !important;
    border-radius: 4px;
}

.toast-custom-blue .toast-title {
    font-weight: bold;
    color: white !important;
}

.toast-custom-blue .toast-message {
    color: white !important;
}
