@page
@model RVPark.Pages.Admin.Parks.IndexModel
@{
    ViewData["Title"] = "Manage Parks";
}

<div class="container">
    <h2 class="text-center">Parks</h2>
    <div class="mb-3">
        <a asp-page="Upsert" class="btn btn-primary">Create New Park</a>
    </div>
    <table id="DT_load" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/park.js"></script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/parks.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://kit.fontawesome.com/4ce08efd14.js" crossorigin="anonymous"></script>
