@page
@model RVPark.Pages.Admin.LotTypes.UpsertModel

<form method="post">
    <div class="container mt-4 d-flex justify-content-center">
        <div class="card shadow-sm w-50">
            <div class="card-body p-4 text-center">
                <div asp-validation-summary="All" class="text-danger mb-3"></div>
                <h2 class="text-primary mb-3">@(Model.LotTypeObject.Id != 0 ? "Update" : "Create") Lot Type</h2>
                <hr />

                <input type="hidden" asp-for="LotTypeObject.ParkId" />

                <div class="mb-3">
                    <label asp-for="LotTypeObject.Name" class="form-label fw-bold">Lot Name</label>
                    <input asp-for="LotTypeObject.Name" class="form-control text-center" />
                    <span class="text-danger" asp-validation-for="LotTypeObject.Name"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="LotTypeObject.Rate" class="form-label fw-bold">Rate (Price)</label>
                    <input asp-for="LotTypeObject.Rate" class="form-control text-center" step="0.01" min="0" />
                    <span class="text-danger" asp-validation-for="LotTypeObject.Rate"></span>
                </div>

                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> @(Model.LotTypeObject.Id != 0 ? "Update" : "Create")
                    </button>

                    <a asp-page="./Index" asp-route-SelectedParkId="@Model.LotTypeObject.ParkId" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back To List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://kit.fontawesome.com/4ce08efd14.js" crossorigin="anonymous"></script>
}
