@page
@model RVPark.Pages.Admin.FeeTypes.UpsertModel
@{
}
<form method="post" asp-action="Upsert">
    <div class="container">
        <div class="row px-2 mx-2 border">
            <div asp-asp-validation-summary="All" class="text-danger"></div>
            <div class="col-12 px-3" style="border-bottom: 1px solid #325d88">
                <h2 class="text-primary">@(Model.FeeTypeObject.Id != 0 ? "Update" : "Create") Fee Type</h2>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="FeeTypeObject.FeeTypeName"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="FeeTypeObject.FeeTypeName" />
                        <span class="text-danger" asp-asp-validation-for="FeeTypeObject.FeeTypeName"></span>
                    </div>
                    @if (Model.FeeTypeObject.Id != 0)
                    {
                        <input type="hidden" asp-for="FeeTypeObject.Id" />
                    }
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control">@(Model.FeeTypeObject.Id != 0 ? "Update" : "Create")</button>
                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-success from-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/4ce08efd14.js" crossorigin="anonymous"></script>
}